@use "../../stylesheets/fonts";
@use "../../stylesheets/responsiveness";
@use "../../stylesheets/colors.scss";
@import "../../stylesheets/fonts";

#main {
  width: 100%;
  background: white;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  font-family: $roboto;
}

#map {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 65px;
  bottom: 180px;
}

#pin {
  width: 50px;
}

@include responsiveness.screen(smallest, phone) {
  #main {
    min-height: 105vh;
  }

  #map {
    top: 45px;
    bottom: 120px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #main {
    min-height: 105vh;
  }

  #map {
    top: 55px;
    bottom: 160px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #main {
    min-height: 115vh;
  }

  #map {
    top: 65px;
    bottom: 180px;
  }
}

// Search window

#search-window {
  width: 100%;
  background: var(--slug-blue);
  box-shadow: 0 4px 45px #000000b3;
  z-index: 80;
  position: absolute;
  top: 0;
  min-height: 90px;
}

@include responsiveness.screen(smallest, phone) {
  #search-window {
    padding: 45px 0 30px;
    max-height: calc(105vh - 120px);
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-window {
    padding: 55px 0;
    max-height: calc(105vh - 160px);
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-window {
    padding: 65px 0;
    max-height: calc(115vh - 180px);
  }
}

#search-div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Toggle

#search-toggle {
  padding: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
}

@include responsiveness.screen(smallest, phone) {
  #search-toggle {
    width: 70%;
    height: 38px;
    margin: 42px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 38px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-toggle {
    width: 55%;
    height: 54px;
    margin: 65px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 54px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-toggle {
    width: 40%;
    height: 70px;
    margin: 75px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 70px;
  }
}

#search-toggle-field {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: inset 0 4px 4px var(--shadow);
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 68px;
}

#search-toggle-slide {
  width: 51%;
  height: 80%;
  background: var(--dark-blue);
  position: absolute;
  top: 10%;
  left: 1.5%;
  margin: 0;
  padding: 0;
  border-radius: 55px;
  box-shadow: 0 4px 4px var(--shadow);
}

#search-toggle:hover {
  #search-toggle-slide {
    opacity: 0.8;
  }
}

#search-toggle-text-room,
#search-toggle-text-class {
  width: 53%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  top: 0;
}

#search-toggle-text-room {
  left: 0;
  color: var(--slug-yellow);
}

#search-toggle-text-class {
  right: 0;
  color: black;
}

// Forms and input

#class-form {
  display: none;
}

.search-bar {
  position: relative;
}

#quarter-dropdown,
#floor-dropdown {
  position: relative;
}

.search-bar-field,
#quarter-dropdown-field {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: inset 0 4px 4px var(--shadow);
  position: absolute;
  margin: 0;
  border-radius: 68px;
}

#quarter-dropdown-select,
#floor-dropdown-select {
  background: none;
  border: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  appearance: none;
  border-radius: 50px;
  color: black;
  cursor: pointer;
}

#floor-dropdown-select {
  width: 99.5%;
  left: 0.25%;
}

#classroom-input,
#classcode-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  border-radius: 50px;
  position: absolute;
  z-index: 150;
  color: black;
  text-align: left;
}

// Drop-down menus

@include responsiveness.screen(smallest, phone) {
  #floor-dropdown {
    height: 40px;
    margin: 14px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 20px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 38px 0 15px;
  }

  .search-bar,
  #quarter-dropdown {
    width: 70vw;
    height: 40px;
    margin: 30px 0 0;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #floor-dropdown {
    height: 54px;
    margin: 18px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 30px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 60px 0 30px;
  }

  .search-bar,
  #quarter-dropdown {
    width: 55vw;
    height: 54px;
    margin: 42px 0 0;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #floor-dropdown {
    height: 68px;
    margin: 20px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 35px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 80px 0 35px;
  }

  .search-bar,
  #quarter-dropdown {
    width: 40vw;
    height: 68px;
    margin: 50px 0 0;
  }
}

#floor-dropdown-field {
  width: 100%;
  height: 100%;
  background: linear-gradient(#fff, #f6f6f6);
  box-shadow: inset 0 4px 4px var(--shadow);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 68px;
}

// Arrows and buttons

.arrow-circle,
.search-bar-button {
  height: 80%;
  position: absolute;
  top: 10%;
  right: 1.5%;
  margin: 0;
  clip-path: circle();
  box-shadow: 0 4px 4px var(--shadow);
  z-index: 300;
}

.arrow-circle:hover,
.search-bar-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#quarter-dropdown:hover,
#floor-dropdown:hover {
  .arrow-circle {
    opacity: 0.8;
  }
}

#quarter-arrow-circle,
#floor-arrow-circle {
  transform: rotate(90deg);
}

#quarter-arrow-circle:hover,
#floor-arrow-circle:hover {
  opacity: 0.8;
  cursor: pointer;
}

#room-arrow,
#classcode-arrow {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

.arrow {
  margin: 0;
  z-index: 150;
  position: absolute;
}

@include responsiveness.screen(smallest, phone) {
  .arrow {
    width: 40px;
    right: 20px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  .arrow {
    width: 60px;
    right: 25px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  .arrow {
    width: 70px;
    right: 30px;
  }
}

#search-arrow,
#search-text {
  bottom: 10px;
}

#info-arrow,
#info-text {
  top: 10px;
}

#search-text,
#info-text {
  color: var(--slug-yellow);
  position: absolute;
  text-align: right;
}

#search-text {
  display: none;
}

@include responsiveness.screen(smallest, phone) {
  #search-text,
  #info-text {
    width: 160px;
    right: 70px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-text,
  #info-text {
    width: 185px;
    right: 90px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-text,
  #info-text {
    width: 220px;
    right: 120px;
  }
}

// Info window

#info-window {
  width: 100%;
  background: var(--slug-blue);
  position: absolute;
  bottom: 0;
  box-shadow: 0 -3px 35px #00000080;
  z-index: 75;
}

@include responsiveness.screen(smallest, phone) {
  #info-window {
    padding-bottom: 120px;
    min-height: 170px;
  }

  #info-div {
    margin: 40px auto 14px;
    max-height: calc(105vh - 45px - 45px - 120px - 90px);
  }

  #info-nobuilding-text {
    width: 84%;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #info-window {
    padding-bottom: 160px;
    min-height: 220px;
  }

  #info-div {
    margin: 50px auto 30px;
    max-height: calc(105vh - 55px - 55px - 160px - 110px);
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #info-window {
    padding-bottom: 180px;
    min-height: 245px;
  }

  #info-div {
    margin: 60px auto 40px;
    max-height: calc(115vh - 65px - 65px - 180px - 100px - 30px);
  }
}

#info-nobuilding-text {
  padding: 20px;
  color: var(--slug-yellow);
  display: none;
}

#info-div {
  background-color: white;
  width: 93%;
  min-height: 150px;
  text-align: center;
  display: none;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
}

#info-div > * {
  margin: 15px 30px;
}

#info-div::after {
  content: "";
  clear: both;
  display: table;
}

#info-div-text {
  padding: 2%;
  line-height: 1.2;
  overflow-y: auto;
  margin: 2%;
}

#class-instructor,
#class-lectures,
#class-mode {
  text-align: left;
}

#floormap {
  overflow-y: auto;
  background-color: white;
  position: relative;
}

@include responsiveness.screen(smallest, phone, tablet) {
  #info-div-text {
    width: 100%;
    padding: 0 20px;

    h4,
    h6,
    a {
      margin-bottom: 10px;
    }
  }

  #info-line {
    display: none;
  }

  #floormap {
    width: 90%;
    padding: 10px 20px;
  }
}

@include responsiveness.screen(
  large-tablet,
  small-laptop,
  desktop,
  big-desktop
) {
  #info-div-text {
    max-width: 42%;

    h4,
    h6,
    a {
      margin-bottom: 15px;
    }
  }

  #info-line {
    margin: 15px 0;
    background-color: var(--slug-blue);
    flex: 0;
    padding: 2px;
  }

  #floormap {
    width: 55%;
  }
}

#floormap-img {
  width: 100%;
  cursor: pointer;
}

#floormap-pin {
  position: absolute;
  display: none;
  width: 35px;
  transform: translate(-50%, -100%); // bottom center
}

// Search suggestions on input

#data-result,
#data-class-result {
  margin: auto;
  width: 88%;
  max-height: 200px;
  background-color: white;
  box-shadow: #00000059 0 5px 15px;
  overflow-y: auto;
  border-radius: 0 0 10px 10px;
  flex-direction: column;
  position: relative;
}

#data-class-result {
  margin-bottom: 60px;

  @include responsiveness.screen(smallest, phone) {
    top: 40px;
  }

  @include responsiveness.screen(tablet, large-tablet) {
    top: 54px;
  }

  @include responsiveness.screen(small-laptop, desktop, big-desktop) {
    top: 68px;
  }
}

#data-result::-webkit-scrollbar,
#data-class-result::-webkit-scrollbar {
  display: none;
}

.dataItem,
.dataClassItem {
  width: 100%;
  display: flex;
  align-items: center;
  color: #555;

  @include responsiveness.screen(smallest, phone) {
    height: 30px;
  }

  @include responsiveness.screen(tablet, large-tablet) {
    height: 40px;
  }

  @include responsiveness.screen(small-laptop, desktop, big-desktop) {
    height: 50px;
  }

  p {
    margin-left: 10px;
  }
}

.dataClassItem:hover,
.dataItem:hover {
  background-color: var(--light-yellow);
}

// Calendar event button

#calendar-button {
  position: relative;
  right: 0;
  top: 0;
  margin: 0 auto 20px;
  padding: 10px 20px;
  height: 50px;
  z-index: 500;
  background-color: var(--dark-blue);
  color: var(--slug-yellow);
  box-shadow: inset 0 -2px 8px var(--shadow);
  border-radius: 68px;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

#calendar-button:hover {
  opacity: 0.8;
}

#info-div-text-class {
  display: none;
}
