@import "https://fonts.googleapis.com/css?family=Nunito|Monsterrat|Inter:300,400,500,600,700,800|Barlow|Nunito+Sans";

$nunito-sans: "Nunito Sans", sans-serif;
$nunito: "Nunito", sans-serif;
$barlow: "Barlow", sans-serif;
$inter: "Inter", sans-serif;
