@use "../../stylesheets/fonts";
@use "../../stylesheets/responsiveness";
@use "../../stylesheets/colors.scss";
@import "../../stylesheets/fonts";

.header {
  position: fixed; /* Fixed at scrolling */
  top: 0;
  width: 100%;
  background-color: var(--slug-yellow);
  z-index: 100;
}

.header-text {
  float: left;
  display: block;
  text-align: left;
  font-family: $corinthia;
  color: var(--dark-blue);
  padding: 5px 16px;
}

@include responsiveness.screen(smallest) {
  .header { height: 39px; }

  .header-text {
    font-size: 23px;
    padding: 8px 16px;
  }
}

@include responsiveness.screen(phone) {
  .header { height: 45px; }

  .header-text {
    font-size: 30px;
    padding: 5px 16px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  .header { height: 55px; }

  .header-text {
    font-size: 40px;
    padding: 5px 16px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  .header { height: 65px; }

  .header-text {
    font-size: 50px;
    padding: 5px 16px;
  }
}
