@use "../stylesheets/responsiveness";
@use "../stylesheets/fonts";
@import "../stylesheets/fonts";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  background: rgb(255 255 255 / 100%);
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  font-family: $roboto;
}

#map {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 65px;
  bottom: 180px;
}

#pin {
  width: 50px;
}

@include responsiveness.screen(smallest, phone) {
  #main {
    min-height: 105vh;
  }

  #map {
    top: 45px;
    bottom: 120px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #main {
    min-height: 105vh;
  }

  #map {
    top: 55px;
    bottom: 160px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #main {
    min-height: 115vh;
  }

  #map {
    top: 65px;
    bottom: 180px;
  }
}

// Search window

#search-window {
  width: 100%;
  background: rgb(0 60 108 / 100%);
  box-shadow: 0 4px 45px rgb(0 0 0 / 70%);
  z-index: 80;
  position: absolute;
  top: 0;
  min-height: 90px;
  overflow-y: auto;
}

@include responsiveness.screen(smallest, phone) {
  #search-window {
    padding: 45px 0 30px;
    max-height: calc(105vh - 120px);
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-window {
    padding: 55px 0;
    max-height: calc(105vh - 160px);
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-window {
    padding: 65px 0;
    max-height: calc(115vh - 180px);
  }
}

#search-div {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Toggle

#search-toggle {
  padding: 0;
  text-align: center;
  position: relative;
  cursor: pointer;
}

@include responsiveness.screen(smallest, phone) {
  #search-toggle {
    width: 70%;
    height: 38px;
    margin: 42px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 38px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-toggle {
    width: 55%;
    height: 54px;
    margin: 65px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 54px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-toggle {
    width: 40%;
    height: 70px;
    margin: 75px 0 5px;
  }

  #search-toggle-text-room,
  #search-toggle-text-class {
    line-height: 70px;
  }
}

#search-toggle-field {
  width: 100%;
  height: 100%;
  background: rgb(255 255 255 / 100%);
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border-radius: 68px;
}

#search-toggle-slide {
  width: 51%;
  height: 80%;
  background: rgb(0 31 57 / 100%);
  position: absolute;
  top: 10%;
  left: 1.5%;
  margin: 0;
  padding: 0;
  border-radius: 55px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

#search-toggle-text-room,
#search-toggle-text-class {
  width: 53%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  top: 0;
}

#search-toggle-text-room {
  left: 0;
  color: rgb(253 199 0 / 100%);
}

#search-toggle-text-class {
  right: 0;
  color: black;
}

// Forms and input

#class-form {
  display: none;
}

.search-bar,
#quarter-dropdown,
#floor-dropdown {
  position: relative;
}

@include responsiveness.screen(smallest, phone) {
  .search-bar,
  #quarter-dropdown {
    width: 70vw;
    height: 40px;
    margin: 30px 0 0;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  .search-bar,
  #quarter-dropdown {
    width: 55vw;
    height: 54px;
    margin: 42px 0 0;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  .search-bar,
  #quarter-dropdown {
    width: 40vw;
    height: 68px;
    margin: 50px 0 0;
  }
}

.search-bar-field,
#quarter-dropdown-field {
  width: 100%;
  height: 100%;
  background: white;
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  position: absolute;
  margin: 0;
  border-radius: 68px;
}

#quarter-dropdown-select,
#floor-dropdown-select {
  background: none;
  border: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  appearance: none;
  border-radius: 50px;
  color: black;
}

#classroom-input,
#classcode-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-width: 0;
  border-radius: 50px;
  position: absolute;
  z-index: 150;
  color: black;
  text-align: left;
}

input[type="submit"] {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border-width: 0;
  z-index: 250;
  border-radius: 50%;
}

// Drop-down menus

@include responsiveness.screen(smallest, phone) {
  #floor-dropdown {
    height: 40px;
    margin: 16px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 20px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 38px 0 15px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #floor-dropdown {
    height: 54px;
    margin: 28px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 30px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 60px 0 30px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #floor-dropdown {
    height: 68px;
    margin: 50px 0;
  }

  #quarter-dropdown-select,
  #floor-dropdown-select {
    padding-left: 35px;
  }

  #classroom-input,
  #classcode-input {
    padding: 0 80px 0 35px;
  }
}

#floor-dropdown-field {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgb(255 255 255 / 100%), rgb(246 246 246 / 100%));
  box-shadow: inset 0 4px 4px rgb(0 0 0 / 25%);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 68px;
}

// Arrows and buttons

.arrow-circle,
.search-bar-button {
  height: 80%;
  position: absolute;
  top: 10%;
  right: 1.5%;
  margin: 0;
  clip-path: circle();
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  z-index: 300;
}

#quarter-arrow-circle,
#floor-arrow-circle {
  transform: rotate(90deg);
}

#room-submit-button,
#classcode-submit-button {
  width: 100%;
  height: 100%;
  position: absolute;
}

#room-arrow,
#classcode-arrow {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}

.arrow {
  margin: 0;
  z-index: 150;
  position: absolute;
}

@include responsiveness.screen(smallest, phone) {
  .arrow {
    width: 40px;
    right: 20px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  .arrow {
    width: 60px;
    right: 25px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  .arrow {
    width: 70px;
    right: 30px;
  }
}

#search-arrow,
#search-text {
  bottom: 10px;
}

#info-arrow,
#info-text {
  top: 10px;
}

#search-text,
#info-text {
  color: rgb(253 199 0 / 100%);
  position: absolute;
  text-align: right;
}

#search-text {
  display: none;
}

@include responsiveness.screen(smallest, phone) {
  #search-text,
  #info-text {
    width: 160px;
    right: 70px;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #search-text,
  #info-text {
    width: 185px;
    right: 90px;
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #search-text,
  #info-text {
    width: 220px;
    right: 120px;
  }
}

// Info window

#info-window {
  width: 100%;
  background: rgb(0 60 108 / 100%);
  position: absolute;
  bottom: 0;
  box-shadow: 0 -3px 35px rgb(0 0 0 / 50%);
  z-index: 75;
}

@include responsiveness.screen(smallest, phone) {
  #info-window {
    padding-bottom: 120px;
    min-height: 170px;
  }

  #info-div {
    margin: 40px auto 14px;
    max-height: calc(105vh - 45px - 45px - 120px - 90px);
  }

  #info-nobuilding-text {
    width: 84%;
  }
}

@include responsiveness.screen(tablet, large-tablet) {
  #info-window {
    padding-bottom: 160px;
    min-height: 220px;
  }

  #info-div {
    margin: 50px auto 30px;
    max-height: calc(105vh - 55px - 55px - 160px - 110px);
  }
}

@include responsiveness.screen(small-laptop, desktop, big-desktop) {
  #info-window {
    padding-bottom: 180px;
    min-height: 245px;
  }

  #info-div {
    margin: 60px auto 40px;
    max-height: calc(115vh - 65px - 65px - 180px - 100px - 30px);
  }
}

#info-nobuilding-text {
  // margin: 60px auto 30px;
  padding: 20px;
  color: rgb(253 199 0 / 100%);
  display: none;
}

#info-div {
  padding: 20px;
  background-color: white;
  width: 93%;
  min-height: 150px;
  text-align: center;
  display: none;
  overflow-y: auto;
}

#info-div::after {
  content: "";
  clear: both;
  display: table;
}

#info-div-text {
  float: left;
  padding: 20px;
  line-height: 1.5;
}

#floor-map {
  background-color: white;
}

@include responsiveness.screen(smallest, phone, tablet) {
  #info-div-text {
    width: 100%;
    padding: 0 20px;
    line-height: 1.5;
  }

  #info-line {
    display: none;
  }

  #floor-map {
    width: 90%;
    padding: 10px 20px;
  }
}

@include responsiveness.screen(
  large-tablet,
  small-laptop,
  desktop,
  big-desktop
) {
  #info-div-text {
    width: 35%;
    padding: 20px;
    line-height: 2;
  }

  #info-line {
    width: 3px;
    position: absolute;
    top: 92px;
    bottom: 240px;
    background-color: rgb(0 60 108 / 100%);
    left: 40%;
  }

  #floor-map {
    width: 55%;
    float: right;
  }
}

.dataResult {
  margin: auto;
  width: 90%;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0 0 0 / 35%) 0 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;

  @include responsiveness.screen(smallest, phone) {
    height: 30px;
  }

  @include responsiveness.screen(tablet, large-tablet) {
    height: 40px;
  }
}

.dataItem p {
  margin-left: 10px;
}

a:hover {
  background-color: lightgrey;
}
