.map {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.overlayContainer {
  background-color: #fdc700;
  color: #003c6c;
  width: 250px;
  text-align: center;
  font-family: Roboto, sans-serif;
  padding: 10px 5px;
  position: absolute;
  border-radius: 5px;
  bottom: 100%;
  left: 50%;
  margin-left: -131px;
  margin-bottom: 14px;
}

.overlayContainer #building-address::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1.2;
  margin-left: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: #fdc700 transparent transparent;
}

#building-name {
  font-weight: bold;
}

#search-button {
  position: absolute;
  z-index: 2;
  height: 50px;
  width: 100px;
  top: 570px;
}